/* general */
body {
  font: 300 18px/26px "Courier New", monospace;
}

/* grid */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-1,
.col-1-2,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-1,
.col-1-2,
.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}
.col-1-1 {
  width: 100%;
}
.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}

/* clearfix */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/* rows */
/* typography */
h1, h2, h3, h4 {
  color: black;
}
h1, h3, h4, h5, p {
  margin-bottom: 10px;
}
strong {
  font-weight: 500;
  letter-spacing: .5px;
}

/* links */
a {
  text-decoration: none;
}

/* navigation */
.nav {
  line-height: 44px;
  margin-bottom: 22px;
}
.nav li {
  display: inline-block;
}
.nav li:last-child {
  margin-right: 0;
}
.nav-link {
  padding: 1px;
}
.nav-link-active {
  border-bottom: 1px solid black;
}
.nav-link:hover {
  border-bottom: 1px solid gray;
}
.nav a {
  color: #000;
}

/* films */
.film .film-desc {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
}
.film .film-title {
  font-weight: 400;
  border-bottom: 1px dotted gray;
  color: rgba(0, 0, 0, 0.87);
}
.film .film-title:hover {
  border-bottom: 1px solid gray;
  cursor: pointer;
}
.film-props {
  font-size: 16px;
  line-height: 1.44;
}
.film-prop {
  padding-right: 30px;
}
.film-prop-name {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  width: 120px;
  display: inline-block;
}
.film-data-name {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: .5px;
  text-transform: uppercase;
}
td.film-data-name {
  padding-right: 15px;
  width: 120px;
}
tr.spaceUnder > td
{
  padding-bottom: 10px;
}
.film-alt {
  overflow: auto;
}
.film-alt .film-title {
  border-bottom: 1px dotted gray;
}
.film-alt .film-title:hover {
  border-bottom: 1px solid gray;
  cursor: pointer;
}
.film a {
  cursor: pointer;
  border-bottom: 1px dotted gray;
}
.film a:hover {
  cursor: pointer;
  border-bottom: 1px solid gray;
}
.film-alt h2 {
  color: black;
}
.film-alt p {
  color: black;
}
.film-alt a {
  color: black;
  border-bottom: 1px dotted gray;
}
.film-alt a:hover {
  border-bottom: 1px solid gray;
}

/* main */
/* header */
/* footer */
